.about {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }

  &__img {
    width: 350px;
    border-radius: 1.5rem;

    // Gray out picture
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &__description {
    padding: 0 4rem 0 0;
    margin-bottom: 40px;
  }

  &__data a {
    background-color: $accent;

    &:hover {
      background-color: $accent-hovered;
    }
  }
}

@media screen and (max-width: 992px) {
  .about {
    &__container {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
    }

    &__img {
      width: 220px;
      justify-self: center;
    }

    &__data {
      text-align: center;
    }

    &__description {
      padding: 0 5rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .about {
    &__description {
      padding: 0;
    }
  }
}
