.data {
  &__title {
    font-size: $big-font;
    margin-bottom: 4px;
  }

  &__subtitle {
    position: relative;
    font-size: $h3-font;
    padding-left: 5.4rem;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: $text;
    top: 1rem;
    left: 0;
  }

  &__description {
    max-width: 400px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 992px) {
  .data {
    &__subtitle {
      padding-left: 3.75rem;
      margin-bottom: 16px;
    }

    &__subtitle::before {
      width: 42px;
      top: 0.8rem;
    }

    &__description {
      max-width: initial;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .data {
    grid-column: 1/3;
  }
}
