.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body;

  &__scrolled {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__nav {
    height: calc($header-height + 24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    &-logo,
    &-toggle {
      color: $title;
      font-weight: 500;
    }

    &-list {
      display: flex;
      column-gap: 32px;
    }

    &-close,
    &-toggle {
      display: none;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $small-font;
      color: $title;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }

    &-icon,
    &-close,
    &-toggle {
      display: none !important;
    }

    &-link:hover,
    .active-link {
      color: $title-dark;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__nav {
      height: $header-height;

      &-menu {
        position: fixed;
        top: 0px;
        bottom: 0;
        right: -100%;
        background-color: $body;
        padding: 64px 24px 32px;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;
      }

      &-showMenu {
        position: fixed;
        right: 0%;
        top: 0px;
        bottom: 0;
        background-color: $body;
        padding: 60px 30px 60px;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;
      }

      &-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
      }

      &-link {
        flex-direction: row;
        gap: $m4;
        padding: $m2;
        font-size: 16px;
      }

      &-icon {
        font-size: 20px;
      }

      &-close {
        position: absolute;
        right: 24px;
        top: 12px;
        font-size: 24px;
        cursor: pointer;
        color: $title;

        &:hover {
          color: $title-dark;
        }
      }

      &-toggle {
        cursor: pointer;

        & svg {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-icon,
      &-close,
      &-toggle {
        display: block !important;
      }
    }

    &__overlay {
      position: fixed;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      inset: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-tap-highlight-color: transparent;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    &__nav {
      &-menu {
        padding: 32px 4px 64px;
      }

      &-showMenu {
        padding: 60px 24px 60px;
      }

      &-list {
        column-gap: 0;
      }

      &-close {
        right: 16px;
      }
    }
  }
}
