.projects {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
  }

  &__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: $m6;
  }

  &__navItem {
    cursor: pointer;
    color: $title;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: capitalize;
    transition: all 0.2s ease;

    &:hover {
      background-color: $accent;
      color: $container;
    }
  }
}

.active__project {
  background-color: $accent;
  color: $container;
}

@media screen and (max-width: 992px) {
  .projects {
    &__container {
      gap: 1.25rem;
      place-items: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .projects {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 350px) {
  .projects {
    &__navItem {
      font-size: $small-font;
    }

    &__filters {
      column-gap: 1.25rem;
    }
  }
}
