.project {
  &__card {
    background-color: $container;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    padding-bottom: 0.6125rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  &__img {
    max-width: 420px;
    border-radius: 1rem;
    margin-bottom: $m1;
    margin-left: 0 !important;
    margin-right: 0 !important;

    grid-column: 1/-1;
  }

  &__title {
    font-size: $normal-font;
    font-weight: 500;
    align-self: center;
  }

  &__actions {
    display: flex;
    justify-content: end;
    gap: 12px;

    & svg {
      width: 44px;
      font-size: 28px;
    }
  }

  &__link {
    & svg {
      width: 44px;
      font-size: 28px;

      &:hover {
        color: $accent;
      }
    }
  }

  &__button {
    color: $text;
    font-size: $small-font;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.swiper-pagination-bullet {
  font-size: 32px;
  background-color: $accent;
}

.swiper-slide-visible {
  width: 100% !important;
}

@media screen and (max-width: 992px) {
  .project {
    &__card {
      padding: 1rem 1rem 0.5rem 1rem;
      width: fit-content;
    }

    &__img {
      max-width: 380px;
    }
  }
}

@media screen and (max-width: 880px) {
  .project {
    &__img {
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 820px) {
  .project {
    &__img {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 740px) {
  .project {
    &__img {
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 640px) {
  .project {
    &__img {
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 530px) {
  .project {
    &__img {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .project {
    &__img {
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 420px) {
  .project {
    &__img {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 370px) {
  .project {
    &__img {
      max-width: 260px;
    }
  }
}
