.project {
  &__card {
    background-color: $container;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
  }

  &__img {
    min-width: 300px;
    max-width: 420px;
    border-radius: 1rem;
    margin-bottom: $m1;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  // &__overlay {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: rgba(0, 0, 0, 0.1);
  // }

  &__title {
    font-size: $normal-font;
    font-weight: 500;
  }

  &__actions {
    margin-top: $m1;
    display: flex;
    justify-content: end;
    gap: 32px;
  }

  &__link {
    & svg {
      width: 44px;
      font-size: 32px;

      &:hover {
        color: $accent;
      }
    }
  }

  &__button {
    color: $text;
    font-size: $small-font;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 32px;
  color: $accent;
  z-index: 10;
}

.swiper-slide-visible {
  width: 100% !important;
}

@media screen and (max-width: 992px) {
  .project {
    &__card {
      padding: 1rem;
    }

    &__img {
      margin-bottom: 0.75rem;
    }

    &__title {
      margin-bottom: 0.25rem;
    }
  }
}
