$body-font: 'Poppins', sans-serif;

// Fonts
$big-font: 3.5rem;
$h1-font: 2.25rem;
$h2-font: 1.5rem;
$h3-font: 1.25rem;
$normal-font: 1rem;
$small-font: 0.875rem;
$smaller-font: 0.813rem;
$tiny-font: 0.625rem;

// Margins
$m1: 4px;
$m2: 8px;
$m3: 12px;
$m4: 16px;
$m6: 24px;
$m8: 32px;
$m10: 40px;
$m12: 48px;

// z-index
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// Colors
$hue: 0;
$sat: 0%;
$title: hsl($hue, $sat, 20%);
$title-dark: hsl($hue, $sat, 0%);
$text: hsl($hue, $sat, 46%);
$body: hsl($hue, $sat, 98%);
$container: #fff;

$header-height: 48px;

@media screen and (max-width: 992px) {
  $big-font: 2.75rem;
  $h1-font: 1.5rem;
  $h2-font: 1.25rem;
  $h3-font: 1rem;
  $normal-font: 0.938rem;
  $small-font: 0.813rem;
  $smaller-font: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font;
}

body {
  background-color: $body;
  color: $text;
}

h1,
h2,
h3 {
  color: $title;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  color: $text;
}

.section {
  padding: 96px 0 32px;

  &__title {
    font-size: $h1-font;
    color: $title;
  }

  &__subtitle {
    display: block;
    font-size: $small-font;
    margin-bottom: 64px;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 24px;
}

.button {
  display: inline-block;
  background-color: $title;
  color: $container;
  padding: 20px 32px;
  border-radius: 16px;
  font-weight: 500;

  &:hover {
    background-color: $title-dark;
  }

  &__icon {
    margin-left: $m2;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: $m6;
    margin-right: $m6;
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0 4rem;

    &__subtitle {
      margin-bottom: 48px;
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    :root {
      $big-font: 2.25rem;
    }

    margin-left: $m4;
    margin-right: $m4;
  }
}
